/* GENERALES */
body {
   background-color: lightblue;
}

.menu__escudos img {

   width: 50px;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.botonera {
   width: 100%;
}

.botonera .container-fluid {
   width: auto !important;
}

.box-model {
   width: 200px;
   background-color: lightgray;
   padding: 10px;
   border: 5px solid black;
   margin: 30px;
   font-size: small;
}

.grid-item {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   justify-content: space-around;
}

.item {
   background-color: lightblue;
   padding: 10px;
   text-align: center;
}

footer {
   text-align: center;
   background-color: azure;

}

footer img {
   width: 4rem;
   height: 4rem;
   object-fit: cover;
}

.estadisticas{
   text-align: center;
   padding: 10px;
   background-color: azure;
}

.estadios{
   background-color: lightblue;
   text-align: center;
}

.carousel-container{
   max-width: 1080px;
   overflow: hidden;
}

/* Estilos para pantallas más chicas (como celulares) */
@media (max-width: 600px) {
   .menu__escudos img {
      display: flex;
      width: 150px;
   }
       .carousel-item img {
      width: 100%;
      height: auto;
    }

    #carouselExampleIndicators {
  max-width: 100%;
  width: 90vw;
}
}